.product-form {
  width: 30rem;
  max-width: 90%;
  margin: auto;
}
.form-control {
  margin: 1rem 0;
}
.form-control label,
.form-control input,
.form-control textarea {
  display: block;
  width: 100%;
  margin-bottom: 0.25rem;
}
.form-control input {
  width: 480px;
  height: 30px;
  border: 1px solid #a1a1a1;
  font: inherit;
  border-radius: 2px;
}
.form-control textarea {
  border: 1px solid #a1a1a1;
  font: inherit;
  border-radius: 2px;
}
.form-control input:focus,
.form-control textarea:focus {
  outline-color: #00695c;
}

button {
  width: 130px;
  height: 30px;
  font: inherit;
  border: 1px solid rgb(12, 90, 90);
  border-radius: 3px;
  color: rgb(12, 90, 90);
  background-color: white;
  cursor: pointer;
  box-shadow: 5px 5px 5px gray;
}
button:hover,
button:active {
  background-color: rgb(12, 90, 90);
  color: white;
  box-shadow: 1px 10px 5px gray;
}
