<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheet/shop.css" />
    <title>Add-product</title>
  </head>
  <body>
    <header class="main-header">
      <nav class="main-header-nav">
        <ul class="main-header-item-list">
          <li class="main-header-item"><a class="active" href="/">Shop</a></li>
          <li class="main-header-item">
            <a class="active" href="/admin/add-product">add-product</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>My products</h1>
      <p>List of all the products</p>
    </main>
  </body>
</html> -->
