//- extends layouts/main-layoute.pug

//- block styles 
//-     link(rel="stylesheet", href="/stylesheet/product.css")
//-     link(rel="stylesheet", href="/stylesheet/form.css")

//- block content 
//-     main
//-        if prods.length > 0
//-           .grid
//-             each product in prods 
//-               article.card.product-item
//-                   header.card-header
//-                       h1.product-title #{product.title}
//-                   div.card-image
//-                       image(src="https://images.unsplash.com/photo-1517770413964-df8ca61194a6?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
//-                   div.card-content
//-                       h2.product-price $19.99
//-                       p.product-description A very intresting book about many even more intresting things!
//-                   .card-actions
//-                       button.btn Add a Cart
//-             else 
//-                 h1 No Products

          
                    

